*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
}

.navbar,a{
    height:100px;
    color:white !important;
}
.navbar:hover {
    background-color: #e3f2fd69 !important;
    transition: 0.5s;  
}
a:hover {
    color: #080808 !important;
    transition: 0.5s;  
}

.container{
    height: 1000px;
    width:100%;
    margin: 0px;
    padding: 70px 0px 0px 0px;
    color: white;
}

body {
    background: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltc592826b502662d4/63a01d7f7c76a04f6c342d63/GettyImages-1450179626(1).jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.formulario{
    background-color: rgba(127, 255, 212, 0.52);
    width: 400px;
    border: 1px solid rgb(202, 202, 202);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px lightblue;
    margin:auto;
}
.form-text{
    color: white !important;
    text-shadow: 2px 3px black;
}

.form-label, .form-check-label{
    color:black;
}

