@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
	background-color: #010;
}

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	letter-spacing: 1px;
	line-height:2
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 50px;
}

@media only screen and (min-width: 360px) and (max-width: 1000px){
  
    #tablas{
      width: 100%;
    }
    #info{
        position: relative;
		top:4150px;
        width: 100%;
    }
    
  
  }